# Raw data (copyrighted materials)
data/raw/
data/raw/question/*.pdf

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Output (large binary files)
output/anki/*.apkg

# Jupyter
.ipynb_checkpoints/

# Environment
.env
/.request/

# Obsidian vault (copyrighted content)
vault/

# Obsidian config
.obsidian/
/.secret/
